/* topbar */
#topbar{
    background-color: var(--primary-color);
    height: 40px;
    padding: 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
}
#topbar .container{
    height: 21px;
    width: 100%;
}
.contact-email__icon{
    position: relative;
    top: 2px;
    text-decoration: none;
    font-size: 1.4rem;
    margin-right: 2px;
    color: var(--white-color);
}
.contact-email__gmail{
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--white-color);
}
.contact-email__gmail:hover{
    text-decoration: underline;
}
.contact-number{
    color: var(--white-color);
    margin-left: 18px;
}
.contact-number__phone{
    font-size: 1.4rem;
}
.social{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-icon{
    text-decoration: none;
    font-size: 1.4rem;
    margin-right: 8px;
    color:  rgba(255, 255, 255, 0.7);
}
.social-icon__hover:hover{
    color: var(--white-color);
}
/* header */
#header{
    height: 86px;
    box-shadow: 0 2px 15px rgba(0,0,0,.1);
    background-color: var(--white-color);
}

.header__logo{
    height: 40px;
}
.container__header{
    width: 100%;
}
.navbar__lists{
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 22px 0;
}
.navbar__lists-item{
    text-decoration: none;
    padding: 10px 0 10px 28px;
    font-size: 1.5rem;
}
.navbar__lists-item-link{
    padding: 0 3px;
    color: var(--header-color);
    text-decoration: none; 
    font-weight: 500;
    position: relative;
}
.navbar__lists-item-link::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: var(--primary-color);
    visibility: hidden;
    width: 0;
    transition: all .3s ease-in-out;

}
.navbar__lists-item-link:hover::before{
    visibility: visible;
    width: 100%;
}
.navbar__lists-item-link:hover{
    color: var(--primary-color);
}

.navbar__lists-item-icon{
    font-size: 2rem;
    color: var(--primary-color);
}
/* hero */
#hero{
    position: relative;
    padding: 60px 0;
    height: 75vh;
    background:  url("/hero-bg.42216018bd702af38fa1.jpg") 0 0;
    background-size: cover;
    display: flex;
    align-items: center;
}
#hero::before{
    background: hsla(0, 0%, 100%, .6);
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#hero .container{
    position:  relative;
    width: 100%;
}
.hero__title{
    font-weight: 600;
    font-family: Poppins, sans-serif;
    font-size: 5.2rem;
    line-height: 5rem;
    color: var(--header-color);
}
.hero__title_name{
    color: var(--primary-color);
}
.hero__career{
    font-size: 3rem;
    color: #555555;
    font-weight: 500;
    margin: 6px 0 30px;
}
/* about */
#about{
    padding: 60px 0;
}
.section__title{
    padding-bottom: 30px;
}
.section__title .h3{
    font-weight: 600;
}
.title__name{
    font-weight: 600;
    margin: 0;
}
.title__find{
    color: var(--text-color);
    margin: 15px 0 0;
    font-size: 3.2rem;
}
.title__find-color{
    color: var(--primary-color);
}
.title__desc{
    margin: 15px 279px 0;
    font-size: 1.8rem;
    color: var(--text-color);
}
.title{
    color: var(--text-color);
    margin: 0 0 15px;
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
}
.decs{
    margin: 0;
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 2.8rem;
}
.about__item{
    background: var(--white-color);
    border-radius: 8px;
    min-height: 238px;
    height: 100%;
    box-shadow: 0 0 29px 0 rgba(68,88,144,.12);
    position: relative;
    transition: all .3s ease-in-out;
    z-index: 1;
}
.about__item::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    transition: all .3s;
    z-index: -1;
}
.about__item:hover::before{
    background: var(--primary-color);
    top: 0;
    border-radius: 8px;
}
.about__item:hover .decs{
    color: var(--white-color);
}
.name-project-color{
    font-weight: 600 ;
    color: var(--primary-color);
}
.name-project{
    margin: 15px 0 0 0;
    color: var(--text-color);
}
/* portfolio */
#portfolio h5{
    margin: 0 0 8px 0;
    font-size: 2rem;
    color: var(--text-color);
}
#portfolio p{
    font-size: 1.5rem;
    line-height: 2.4rem;
    margin: 0;
    color: var(--text-color);
    margin-bottom: 0;
}
.cloud__project{
    margin: 0 -12px 30px;
}
.img__competive{
    width: 100%;
    padding: 0 ;
}
/* programing language */
.process{
   height: 40px;
}
.process__skills{
    font-family: Poppins, sans-serif;
    display: block;
    margin: 0 0 6px;
    font-size: 1.4rem;
}
.process__percent{
    float: right;
    font-style: normal;
}
.process__bar{
    height: 10px;
    background: #e2eefd;
}
.process__bar_desc{
    background-color: var(--primary-color);
    height: 100%;
}
/* education */
.icon-box{
    background: var(--white-color);
    padding: 60px 20px;
    border-radius: 5px;
}
.icon-box:hover{
    border-color: #fff;
    box-shadow: 0 0 25px 0 rgba(16,110,234,.1);
}
.icon{
    text-align: center;
    align-items: center;
    background: #f1f6fe;
    border: 1px solid #deebfd;
    border-radius: 4px;
    display: flex;
    height: 64px;
    justify-content: center;
    margin: 0 auto 20px;
    transition: .3s ease-in-out;
    width: 64px;
}
.icon__img{
    height: 60px;
    width: 60px;
}
.icon__name-school{
    text-align: center;
    font-size: 2.4rem;
    margin: 0 0 15px 0;
}
.icon__time-styding{
    text-align: center;
    font-size: 1.4rem;
    margin: 0;
}
/* contact */
.box-contact{
    padding: 20px 0 30px;
    text-align: center;
    border-radius: 5px;
    background: #f8f8f8;
    box-shadow: 0 0 30px hsla(210,2%,84%,.3);
}
.box-contact__icon{
    padding: 8px;
    border: 2px dotted #b3d1fa;
    font-size: 2.8rem;
    color: var(--primary-color);
    border-radius: 50%;
}
.box-contact__location{
    font-size: 2rem;
    color: #777;
    margin: 18px 0 10px;
}
.box-contact__contact-desc{
    font-size: 1.5rem;
    color: var(--text-color);
    margin: 0;
    font-weight: 400;
}
/* footer */
#footer{
    background: #f1f6fe;
    color: var(--text-color);
    padding: 0;
    font-size: 1.4rem;
}
#footer .container{
    padding: 24px 12px;
}
#footer span{
    font-weight: bolder;
}
.copyright{
    display: inline-block;
    line-height: 26px;
}
#footer .socials{
    width: 500px;
    height: 67px;
}
.social-link{
    --height: 36px;
    height: var(--height);
    width: var(--height);
    text-decoration: none;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 1.4rem;
    line-height: 1;
    margin-right: 4px;
    padding: 8px 0;
    text-align: center;
    transition: .3s;
}
#footer .credit{
    display: inline-block;
}
.credit p{
    line-height: 26px;
    font-size: 1.3rem;
    margin: 0;
    font-weight: 300;
    flex: 1;
}
.social-link__icon{
    position: relative;
    top: -1px;
    right: 7px;
}
/* mobile */
@media only screen and (max-width: 46.1875em){
        #header{
            overflow: hidden;
        }
        .social{
            display: none;
        }
        #hero h1{
            font-weight: 600;
            font-size: 3.2rem;
            line-height: 2.8rem;
        }
        .hero__title{
            height: 72px;
        }
        #hero h2{
            font-size: 1.8rem;
            margin-top: -4px;
        
        }
        .title__desc{
            margin: 15px 0 0 0;
        }
        /* about */
        .about-res__item{
            margin-bottom: 40px;
        }
        #about h4{
            font-weight: bolder;
            font-size: 1.8rem;
            text-align: left;
        }
        #about p{
            font-size: 1.5rem;
        }
        
        /* portfolio */
        .name-project-color-res{
            display: block;
            margin-top: 8px;
        }
        #footer .container{
            margin: 0;
        }
        
    /* Personal skill */
        .process-res{
            height: 60px;
        }
        .process-res i{
            font-weight: 600;
        }
        .process-res span{
            font-weight: 600;
        }
    /* footer */
        #footer .copyright, .credit{
            float: none;
            padding: 2px 0;
            text-align: center;
            line-height: 1.8rem;
        }
        .credit p{
            line-height: 1.8rem;
        }
        .credit{
            height: 67px;
        }
        .social-link{
            padding: 8px 0 !important;
        }
        .social-link__icon{
            position: relative;
            top: 3px;
            left: 0 ;
        }
}
/* tablet*/
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
    .box{
        height: 100%;
    }
    .process-res{
        height: 60px;
    }
} 
/* mobile and tablet */
@media only screen and (max-width: 64em){
    .dp__block{
        display: block ;
    }
    .mg-bot-48{
        margin-bottom: 48px;
    }
     /* ******************************* */
    .header__navbar{
        display: none;
    }
} 